nav.navbar {
    text-decoration: none;
    border: 0;
    position: fixed;
    background: #00000052;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 70px;
    padding: 20px;
}

a {
    color: white;
    text-decoration: none;
}